Package: isoautoupdater
Version: 0.0.1
Section: utils
Priority: optional
Architecture: amd64
Maintainer: ManuAlonsoSec
Description: Automated Linux ISO updater
 Monitors and downloads the latest ISOs for your selected distributions.
